<section id="team---1" class="container-fluid section-block team-1">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Member 1 -->
      <div class="col-md-4 col-sm-6 member-block" *ngFor="let member of users; let i = index">

        <div class="member-photo">
          <img src="{{member.image}}" alt="{{member.name}}">


        </div> <!-- .member-photo -->

        <h2>{{member.name}}</h2>
        <span>{{member.profession}}</span>

      </div> <!-- .member-block -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
