<section id="latest-posts---1" class="container-fluid section-block">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Post 1 -->
      <article id="post-1" class="col-md-4 index-post-block" *ngFor="let article of articles; let i = index">
        <div class="border-box">

          <header class="post-preview-header">
            <div class="post-thumb">
              <img src="{{article.url}}" alt="{{article.title}}"> <!-- Post thumbnail -->
            </div>
          </header>

          <div class="post-preview-content">

            <div class="post-meta" *ngIf="article.keywords">
              <span class="post-date"><a href="{{article.link}}" title="{{article.title}}">{{article.pubDate}}</a></span>
              <span>in </span>
              <span class="post-category"><a href="{{article.link}}" title="{{article.link}}">{{article.keywords}}</a></span>
            </div>

            <h3><a href="{{article.link}}" title="{{article.title}}">{{article.title}}</a></h3>

            <div class="post-preview-text">
              <p>
                {{article.description}}
              </p>
            </div>

          </div> <!-- .post-preview-content -->

          <footer class="post-preview-footer">
            <a href="{{article.link}}" class="button button-full" title="{{article.title}}">Read more</a>
          </footer>

        </div>
      </article> <!-- .index-post-block -->


    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
