<section id="how-to-use---2" class="container-fluid section-block how-to-use-2 color-block">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Block 1 -->
      <div class="col-md-4 how-to-block-2">
        <span class="number">1</span>
        <h3>{{header1}}</h3>
        <p>{{description1}}</p>
      </div> <!-- .how-to-block -->

      <!-- Block 2 -->
      <div class="col-md-4 how-to-block-2">
        <span class="number">2</span>
        <h3>{{header2}}</h3>
        <p>{{description2}}</p>
      </div> <!-- .how-to-block -->

      <!-- Block 3 -->
      <div class="col-md-4 how-to-block-2">
        <span class="number">3</span>
        <h3>{{header3}}</h3>
        <p>{{description3}}</p>
      </div> <!-- .how-to-block -->


    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
