<div class="container-fluid header-content-9 header-content-white">
  <div class="container header-container header-9">
    <div class="row">

      <div class="title-centered-content">
        <div class="col-md-6 header-text">
          <h1>{{headingText}}</h1>

          <div class="title-desc">
            <p>{{descriptionText}}</p>
          </div>

          <ul class="header-nav-buttons">
            <li *ngIf="buttonLink1"><a routerLink="{{buttonLink1}}" class="button button-full" title="{{buttonText1}}">{{buttonText1}}</a></li>
            <li *ngIf="buttonLink2"><a routerLink="{{buttonLink2}}" class="button button-border" title="{{buttonText2}}">{{buttonText2}}</a></li>
          </ul>

        </div> <!-- .header-text -->

      </div> <!-- .title-centered-content -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .container-fluid -->
