<section id="counter---2" class="container-fluid section-block counter-2">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 counter-block">
        <span class="number" [CountTo]="count1"></span>
        <span class="number-desc">{{countText1}}</span>
      </div>

      <div class="col-md-3 col-sm-6 counter-block">
        <span class="number" [CountTo]="count2"></span>
        <span class="number-desc">{{countText2}}</span>
      </div>

      <div class="col-md-3 col-sm-6 counter-block">
        <span class="number" [CountTo]="count3"></span>
        <span class="number-desc">{{countText3}}</span>
      </div>

      <div class="col-md-3 col-sm-6 counter-block">
        <span class="number" [CountTo]="count4"></span>
        <span class="number-desc">{{countText4}}</span>
      </div>

    </div>
  </div>
</section>
