<section id="features---7" class="container-fluid section-block features features-with-image">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <div class="col-md-4 left-block">

        <!-- Feature 1 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon1"></i>
          <h3>{{featureHeading1}}</h3>
          <p>{{featureDescription1}}</p>
        </div>

        <!-- Feature 2 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon2"></i>
          <h3>{{featureHeading2}}</h3>
          <p>{{featureDescription2}}</p>
        </div>

        <!-- Feature 3 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon3"></i>
          <h3>{{featureHeading3}}</h3>
          <p>{{featureDescription3}}</p>
        </div>

      </div>

      <div class="col-md-4 image-block">
        <img src="{{imageURL}}" alt="image">
      </div>

      <div class="col-md-4 right-block">

        <!-- Feature 4 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon4"></i>
          <h3>{{featureHeading4}}</h3>
          <p>{{featureDescription4}}</p>
        </div>

        <!-- Feature 5 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon5"></i>
          <h3>{{featureHeading5}}</h3>
          <p>{{featureDescription5}}</p>
        </div>

        <!-- Feature 6 -->
        <div class="feature feature-primary-color">
          <i  [ngClass]="featureIcon6"></i>
          <h3>{{featureHeading6}}</h3>
          <p>{{featureDescription6}}</p>
        </div>

      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
