<section id="video---1" class="container-fluid section-block video">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <div class="col-md-12 video-block">
        <a class="popup-video" href="{{videoURL}}"><!-- Link to a YouTube video -->
          <span class="overlay"></span>
          <img class="preview" src="{{imageURL}}" alt="video">
          <i class="fa fa-play play-button" aria-hidden="true"></i>
        </a>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
