<!-- Start FAQ 3 -->
<section id="faq---3" class="container-fluid section-block faq color-block">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <div class="col-md-6">
        <img src="{{imageURL}}" alt="{{headingText}}">
      </div>

      <div class="col-md-6">
        <!-- Accordion -->
        <div id="accordion-2" class="panel-group faq-group" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne-2">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                  {{faqHeading1}}
                </a>
              </h4>
            </div>
            <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
              <div class="panel-body">
                <p>
                  {{faqDescription1}}
                </p>
              </div>
            </div>
          </div> <!-- .panel-default -->

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo-2">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                  {{faqHeading2}}
                </a>
              </h4>
            </div>
            <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-2">
              <div class="panel-body">
                <p>
                  {{faqDescription2}}
                </p>
              </div>
            </div>
          </div> <!-- .panel-default -->

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree-2">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2">
                  {{faqHeading3}}
                </a>
              </h4>
            </div>
            <div id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-2">
              <div class="panel-body">
                <p>
                  {{faqDescription3}}
                </p>
              </div>
            </div>
          </div> <!-- .panel-default -->

        </div> <!-- .panel-group -->
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
<!-- End FAQ 3 -->
