<section id="about---4" class="container-fluid section-block about-4 color-block">
  <div class="container">
    <div class="row">

      <!-- Image block -->
      <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="about-image-block">
          <div class="about-image">

            <img src="{{imageURL}}" alt="image">

            <!-- Feature block -->
            <div class="feature-box feature-box-second feature-image">
              <i [ngClass]="featureIcon"></i>
              <p>{{featureText}}</p>
            </div>

          </div> <!-- .about-image -->
        </div> <!-- .about-features -->
      </div>

      <!-- Text block -->
      <div class="col-md-6 col-sm-5 col-xs-12 about-text">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>
        <a *ngIf="buttonLink" routerLink="{{buttonLink}}" class="button button-full" title="{{buttonText}}">{{buttonText}}</a>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
