<section id="faq---1" class="container-fluid section-block faq">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <div class="col-md-6 faq-block">
        <h3>{{faqHeading1}}</h3>
        <p>
          {{faqDescription1}}
        </p>
      </div>

      <div class="col-md-6 faq-block">
        <h3>{{faqHeading2}}</h3>
        <p>
          {{faqDescription2}}
        </p>
      </div>

      <div class="col-md-6 faq-block">
        <h3>{{faqHeading3}}</h3>
        <p>
          {{faqDescription3}}
        </p>
      </div>

      <div class="col-md-6 faq-block">
        <h3>{{faqHeading4}}</h3>
        <p>
          {{faqDescription4}}
        </p>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
