<lib-sixteen-menu *ngIf="loggedIn"></lib-sixteen-menu>

<nav *ngIf="!loggedIn" id="site-navigation" class="navbar main-navigation nav-light navbar-top">
  <div class="container-fluid container-nav nav-no-shadow">
    <div class="container">

    <!-- Top menu buttons -->
      <div class="menu-buttons">
        <ul>
          <li><a href="#" class="button button-simple" title="link">Log In</a></li>
          <li><a href="#" class="button button-full" title="link">Sign Up</a></li>
        </ul>
      </div>

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><img
            src="/assets/touch-icon-ipad.png"
            width="28"
            height="28"
            class="d-inline-block"> AHEAD</a>
      </div>


    </div> <!-- .container -->
  </div> <!-- .container-fluid -->
</nav>
