<section id="download---1" class="container-fluid section-block download-1">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-12 download-img">
        <img src="{{imageURL}}" alt="{{descriptionText}}">
      </div>

      <div class="col-md-6 col-xs-12 download-text">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>
        <span>{{instructionText}}</span>


      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
