<footer id="colophon" class="container-fluid site-footer footer-color">
  <div class="container footer-container site-top-footer">
    <div class="row">

      <div class="col-md-6 col-sm-12 footer-col footer-col-1">
        <h3>{{headingText1}}</h3>
        <p>{{descriptionText}}</p>
      </div> <!-- .footer-col-1 -->

      <div class="col-md-2 col-sm-4 footer-col footer-col-2">
        <h3>{{columnHeading1}}</h3>
        <ul>
          <li *ngIf="column1Button1Link"><a routerLink="column1Button1Link" title="{{column1Text1}}">{{column1Text1}}</a></li>
          <li *ngIf="column1Button2Link"><a routerLink="column1Button2Link" title="{{column1Text2}}">{{column1Text2}}</a></li>
          <li *ngIf="column1Button3Link"><a routerLink="column1Button3Link" title="{{column1Text3}}">{{column1Text3}}</a></li>
          <li *ngIf="column1Button4Link"><a routerLink="column1Button4Link" title="{{column1Text4}}">{{column1Text4}}</a></li>
          <li *ngIf="column1Button5Link"><a routerLink="column1Button5Link" title="{{column1Text5}}">{{column1Text5}}</a></li>
        </ul>
      </div> <!-- .footer-col-2 -->

      <div class="col-md-2 col-sm-4 footer-col footer-col-3">
        <h3>{{column2Heading}}</h3>
        <ul>
          <li *ngIf="column2Button1Link"><a routerLink="column2Button1Link" title="{{column2Text1}}">{{column2Text1}}</a></li>
          <li *ngIf="column2Button2Link"><a routerLink="column2Button2Link" title="{{column2Text2}}">{{column2Text2}}</a></li>
          <li *ngIf="column2Button3Link"><a routerLink="column2Button3Link" title="{{column2Text3}}">{{column2Text3}}</a></li>
          <li *ngIf="column2Button4Link"><a routerLink="column2Button4Link" title="{{column2Text4}}">{{column2Text4}}</a></li>
          <li *ngIf="column2Button5Link"><a routerLink="column2Button5Link" title="{{column2Text5}}">{{column2Text5}}</a></li>
        </ul>
      </div> <!-- .footer-col-3 -->

      <div class="col-md-2 col-sm-4 footer-col footer-col-4">
        <h3>{{column3Heading}}</h3>
        <ul>
          <li *ngIf="column3Button1Link"><a routerLink="{{column3Button1Link}}" title="{{column3Text1}}">{{column3Text1}}</a></li>
          <li *ngIf="column3Button2Link"><a routerLink="{{column3Button2Link}}" title="{{column3Text2}}">{{column3Text2}}</a></li>
          <li *ngIf="column3Button3Link"><a routerLink="{{column3Button3Link}}" title="{{column3Text3}}">{{column3Text3}}</a></li>
          <li *ngIf="column3Button4Link"><a routerLink="{{column3Button4Link}}" title="{{column3Text4}}">{{column3Text4}}</a></li>
        </ul>
      </div> <!-- .footer-col-4 -->

      <div class="col-md-12 col-sm-12 bottom-footer">

        <div class="col-md-6 col-sm-12 copy-text">
          <p>{{footerText}}</p>
        </div>


      </div> <!-- .bottom-footer -->

    </div>
  </div>
</footer>
