<section id="about---2" class="container-fluid section-block about-2 color-block">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="about-features">

          <!-- Feature block 1 -->
          <div class="feature-box feature-box-primary">
            <i [ngClass]="featureIcon1"></i> <!-- icon -->
            <p>{{featureText1}}</p>
          </div>

          <!-- Feature block 2 -->
          <div class="feature-box feature-box-second">
            <i [ngClass]="featureIcon2"></i> <!-- icon -->
            <p>{{featureText2}}</p>
          </div>

          <!-- Feature block 3 -->
          <div class="feature-box feature-box-primary">
            <i [ngClass]="featureIcon3"></i> <!-- icon -->
            <p>{{featureText3}}</p>
          </div>

          <!-- Feature block 4 -->
          <div class="feature-box feature-box-primary">
            <i [ngClass]="featureIcon4"></i> <!-- icon -->
            <p>{{featureText4}}</p>
          </div>

        </div> <!-- .about-features -->
      </div>

      <div class="col-md-6 col-sm-5 col-xs-12 about-text">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>
        <a *ngIf="buttonLink" routerLink="{{buttonLink}}" class="button button-full" title="{{buttonText}}">{{buttonText}}</a>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
