
<div id="page" class="site"> <div class="baseline-grid1"></div>

	<!-- Start Header -->
	<lib-sixteen-simple-header1 [headingText]="headingText" [backgroundImage]="backgroundImage"></lib-sixteen-simple-header1>
	<!-- End Header -->

	<!-- Content -->
	<lib-sixteen-simple-page1 [bodyText]="bodyText"></lib-sixteen-simple-page1>
	<!-- End Content -->
</div>
