<!-- Start Navigation -->
<nav id="site-navigation" class="navbar main-navigation nav-light navbar-top">
  <div class="container-fluid container-nav nav-no-shadow">
    <div class="container">

    <!-- Top menu buttons -->
      <div class="menu-buttons">
        <ul>
          <li><a routerLink="/access" class="button button-simple" title="link">Log In</a></li>
          <li><a routerLink="/signup" class="button button-full" title="link">Sign Up</a></li>
        </ul>
      </div>

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">16AHEAD</a>
      </div>


    </div> <!-- .container -->
  </div> <!-- .container-fluid -->
</nav>
<!-- End Navigation -->
