<div class="container-fluid header-content-8 header-content-color">
  <div class="container header-container header-8">
    <div class="row">

      <div class="header-bg-text header-bg-text-center header-bg-text-color">
        <p>{{heading1}}<br>{{heading2}}</p>
      </div>

      <div class="title-centered-content">
        <div class="col-md-12 header-text header-text-center">
          <h1>{{headerText}}</h1>

          <div class="title-desc">
            <p>{{descriptionText}}</p>
          </div>

          <!-- Start Newsletter Form -->
          <div class="header-newsletter-form">
            <div class="header-center-form">
              <form #dataForm="ngForm" id="header-newsletter-form" class="newsletter-form">
                <input [(ngModel)]="emailAddress" id="header-newsletter-email" class="newsletter-email" type="email" name="emailAddress" placeholder="Enter your email">
                <input id="header-newsletter-submit" class="button-form newsletter-submit" name="newsletter-submit" value="Submit" type="submit" (click)="onSubmit()">
              </form>
            </div>
          </div>
          <!-- End Newsletter Form -->

        </div> <!-- .header-text -->

      </div> <!-- .title-centered-content -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .container-fluid -->
