<section id="cta---2" class="container-fluid section-block cta bg-second-color">
  <div class="container">
    <div class="row">

    <div class="cta-content-2">

      <div class="col-md-6 cta-block">
        <h2>{{headingText}}</h2>
      </div>

      <div class="col-md-6 cta-button-block" *ngIf="buttonLink">
        <div class="cta-button">
          <a href="{{buttonLink}}" class="button button-full">{{buttonText}}</a>
        </div>
      </div>
    </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
