<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
    <!-- <lib-sixteen-customer-header1 [headingText]="header_headingText"
                              [imageSrc]="header_imageSrc"
                              [featureIcon1]="header_featureIcon1"
                              [featureIcon2]="header_featureIcon2"
                              [featureBox1]="header_featureBox1"
                              [featureBox2]="header_featureBox2"
                              [descriptionText]="descriptionText"></lib-sixteen-customer-header1> -->
  </header>
  <div id="content"
       class="site-content">
    <div id="primary"
         class="content-area">
      <main id="main"
            class="site-main">

<lib-sixteen-customer-reviews1 [reviews]="reviews"></lib-sixteen-customer-reviews1>
<lib-sixteen-customer-reviews2 [reviews]="reviews"></lib-sixteen-customer-reviews2>
<lib-sixteen-customer-reviews3 [reviews]="reviews"></lib-sixteen-customer-reviews3>

        <lib-sixteen-customer-about-product1 [headerText]="about1_HeaderText"
                                             [featureBlockIcon1]="about1_featureBlockIcon1"
                                             [featureBlockText1]="about1_featureBlockText1"
                                             [featureBlockIcon2]="about1_featureBlockIcon2"
                                             [featureBlockText2]="about1_featureBlockText2"
                                             [featureBlockIcon3]="about1_featureBlockIcon3"
                                             [featureBlockText3]="about1_featureBlockText3"
                                             [featureBlockIcon4]="about1_featureBlockIcon4"
                                             [featureBlockText4]="about1_featureBlockText4"
                                             [descriptionText]="about1_descriptionText"></lib-sixteen-customer-about-product1>
        <!-- <lib-sixteen-customer-about-product4></lib-sixteen-customer-about-product4>
<lib-sixteen-customer-about-product6></lib-sixteen-customer-about-product6>
<lib-sixteen-customer-about-product5></lib-sixteen-customer-about-product5>
<lib-sixteen-customer-about-product2 [imageURL1]="about2_imageURL1"
                                     [imageURL2]="about2_imageURL2"
                                     [headingText]="about2_headingText"
                                     [descriptionText]="about2_descriptionText"
                                     [bulletText1]="about2_bulletText1"
                                     [bulletText2]="about2_bulletText2"
                                     [bulletText3]="about2_bulletText3"></lib-sixteen-customer-about-product2>

                                     <lib-sixteen-customer-about-product3></lib-sixteen-customer-about-product3>

                                     <lib-sixteen-customer-about-product7></lib-sixteen-customer-about-product7> -->
        <!-- <lib-sixteen-customer-faq1></lib-sixteen-customer-faq1>
<lib-sixteen-customer-faq2></lib-sixteen-customer-faq2>
<lib-sixteen-customer-faq3></lib-sixteen-customer-faq3> -->
        <!-- <lib-sixteen-customer-contact-us1></lib-sixteen-customer-contact-us1>                                      -->
        <!--
<lib-sixteen-customer-product-features1></lib-sixteen-customer-product-features1>
<lib-sixteen-customer-product-features2></lib-sixteen-customer-product-features2>
<lib-sixteen-customer-parallax1></lib-sixteen-customer-parallax1>
<lib-sixteen-customer-how-to3></lib-sixteen-customer-how-to3>
<lib-sixteen-customer-team1></lib-sixteen-customer-team1>
<lib-sixteen-customer-try-it1></lib-sixteen-customer-try-it1>
<lib-sixteen-customer-latest-post2></lib-sixteen-customer-latest-post2> -->
      </main>
    </div> <!-- #primary -->
  </div> <!-- #content -->
  <lib-sixteen-footer></lib-sixteen-footer>
</div>
