<header id="masthead" class="site-header">


  <div class="container-fluid header-content-page header-content-white">
    <div class="header-img-page"
        [ngStyle]="{ 'background': 'url(' + backgroundImage + ') center no-repeat'}"></div>
    <div class="header-overlay-page"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-9 page-header-box">
          <h1>{{headingText}}</h1>
        </div>
      </div>
    </div>

  </div> <!-- .container-fluid -->

</header>
