<section id="features---4" class="container-fluid section-block features color-block">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Feature 1 -->
      <div class="col-md-3 feature feature-center feature-primary-color">
        <div class="border-box">
          <i class="{{featureIcon1}}"></i>
          <h3>{{featureHeading1}}</h3>
          <p>{{featureDescription1}}</p>
        </div>
      </div>

      <!-- Feature 2 -->
      <div class="col-md-3 feature feature-center feature-primary-color">
        <div class="border-box">
          <i class="{{featureIcon2}}"></i>
          <h3>{{featureHeading2}}</h3>
          <p>{{featureDescription2}}</p>
        </div>
      </div>

      <!-- Feature 3 -->
      <div class="col-md-3 feature feature-center feature-primary-color">
        <div class="border-box">
          <i class="{{featureIcon3}}"></i>
          <h3>{{featureHeading3}}</h3>
          <p>Accusantium doloremque laudantium, totam asperiores aperiam eaque ipsa, quae ab illo inventore.</p>
        </div>
      </div>

      <!-- Feature 4 -->
      <div class="col-md-3 feature feature-center feature-primary-color">
        <div class="border-box">
          <i class="{{featureIcon4}}"></i>
          <h3>{{featureHeading4}}</h3>
          <p>{{featureDescription4}}</p>
        </div>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
