<section id="prices---3" class="container-fluid section-block prices price-3">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Price box 1 -->
      <div class="col-md-4 price" *ngFor="let product of products; let i = index">
        <div class="no-border-box">
          <h3>{{product.name}}</h3>

          <h4>{{product.price | currency}}</h4>
          <p class="time">per {{product.orderQuantity}} {{product.orderQuantityMeasure}}</p>

          <ul *ngIf="product.features">
            <li *ngFor="let feature of product.features">{{feature}}</li>
          </ul>

          <a href="{{product.url}}" class="button button-full">{{actionText}}</a>

        </div>
      </div> <!-- .price -->



    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
