<section id="cta---1" class="container-fluid section-block cta bg-primary-color">
  <div class="container">
    <div class="row">

      <div class="col-md-12 cta-block cta-content-1 cta-button">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>
        <a *ngIf="buttonLink" href="{{buttonLink}}" class="button button-full">{{buttonText}}</a>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
