<div class="container-fluid header-content-2 header-content-color">
  <div class="container header-container header-2">
    <div class="row">

      <div class="title-centered-content">
        <div class="col-md-6 header-text">
          <h1>{{headingText}}</h1>

          <div class="title-desc">
            <p>{{descriptionText}}</p>
          </div>

          <ul class="header-nav-buttons">
            <li><a *ngIf="button1Link" routerLink="{{button1Link}}" class="button button-white" title="{{button1Text}}">{{button1Text}}</a></li>
            <li><a *ngIf="button2Link" routerLink="{{button2Link}}" class="button button-white-border" title="{{button2Text}}">{{button2Text}}</a></li>
          </ul>

        </div> <!-- .header-text -->

      </div> <!-- .title-centered-content -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .container-fluid -->
