<section id="about---6" class="container-fluid section-block about-6 color-block">
  <div class="container">
    <div class="row">

      <!-- Image block -->
      <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="about-image-block">
          <div class="about-image">

            <img src="{{imageURL1}}" alt="image">

            <div class="ui">
              <img src="{{imageURL2}}" data-aos="fade-up" alt="{{descriptionText}}">
            </div>

          </div> <!-- .about-image -->
        </div> <!-- .about-features -->
      </div>

      <!-- Text block -->
      <div class="col-md-6 col-sm-5 col-xs-12 about-text">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>
        <ul>
          <li>{{bulletText1}}</li>
          <li>{{bulletText2}}</li>
          <li>{{bulletText3}}</li>
        </ul>
        <a *ngIf="buttonLink" routerLink="{{buttonLink}}" class="button button-full" title="button">{{buttonText}}</a>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
