<section id="contact-us---1" class="container-fluid section-block contact-form-section">
  <div class="form-bg"></div> <!-- Background image -->
  <div class="overlay"></div>	<!-- Overlay -->
  <div class="container">
    <div class="row">

      <!-- Start Contact Form -->
      <div class="col-md-6 center-form border-box">
        <form #dataForm="ngForm" id="contact-form" class="contact-form" action="contact.php">

          <div class="col-md-12">
            <h2>{{headingText}}</h2>
          </div>

          <div class="col-md-6">
            <input id="contact-f-name" class="contact-f-name" type="text" name="contact-f-name" placeholder="First Name">
          </div>

          <div class="col-md-6">
            <input id="contact-l-name" class="contact-l-name" type="text" name="contact-l-name" placeholder="Last Name">
          </div>

          <div class="col-md-12">
            <input id="contact-email" class="contact-email" type="email" name="contact-email" placeholder="Email">
          </div>

          <div class="col-md-12">
            <textarea id="contact-message" class="contact-message" name="contact-message" placeholder="Message"></textarea>
          </div>

          <div class="col-md-12 form-text">
            <p>{{descriptionText}}</p>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-12 form-btn-submit">
            <input id="contact-button" class="button button-full contact-submit" name="contact-submit" value="Send Message" type="submit" [disabled]="!dataForm.form.valid" (click)="onSubmit()">
          </div>

        </form>
      </div>
      <!-- End Contact Form -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
