<section id="download---2" class="container-fluid section-block download-2 download-parallax">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-8 download-center-text">
        <h2>{{headingText}}</h2>
        <p>{{descriptionText}}</p>


      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
