<ng-template #help
             let-c="close"
             let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4> <button type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You can login to 16Ahead with: </p>
    <ul>
      <li>An email address and password</li>
      <li>Your Google Gmail address (single user account only)</li>
      <li>Your Twitter account (single user account only)</li>
      <li>Your Facebook account (single user account only)</li>
    </ul>
  </div>
  <div class="modal-footer"> <button type="button"
            class="btn btn-secondary"
            (click)="c('Close click')">Close</button> </div>
</ng-template>
<ngb-alert *ngIf="successMessage"
           [type]="alertType"
           (close)="successMessage = null"
           class="ta-saved">{{ successMessage }}</ngb-alert>

<div class="container" *ngIf="appUser">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger" (click)="onLogOut()">Log Out</button>
    </div>
  </div>
</div >


<div class="ta-vertical-center"
     *ngIf="(!appUser)">
  <div class="container">
    <div class="row justify-content-md-center ta-row">
      <div class="col">
        <div class="card pages-card">
          <div class="card-body">
            <div class="h4 text-center text-theme"><strong>{{COMPANY_NAME}}
                Login</strong></div>
            <div class="small text-center text-dark"> Login to Account </div>
            <form #userForm="ngForm"
                  (ngSubmit)="onSubmit();userForm.reset();"
                  class="form-signin">
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon text-theme"><i
                       class="fa fa-user"></i>
                  </span>

                  <input [(ngModel)]="emailAddress"
                         #email="ngModel"
                         type="email"
                         id="emailAddress"
                         name="email"
                         autocomplete="current-password"
                         class="form-control"
                         placeholder="Email Address"> </div>
                <div [hidden]="email.valid || email.pristine"
                     class="alert alert-danger"> Email Address is required
                </div>
              </div>
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon text-theme"><i
                       class="fa fa-asterisk"></i></span>

                  <input [(ngModel)]="password"
                         #thePassword="ngModel"
                         type="password"
                         id="password"
                         autocomplete="current-password"
                         name="password"
                         class="form-control"
                         placeholder="Password"> </div>
                <div [hidden]="thePassword.valid || thePassword.pristine"
                     class="alert alert-danger"> Password is required </div>
              </div>
              <div class="form-group form-actions"> <button class="btn  btn-theme login-btn "
                        type="submit"
                        [disabled]="!userForm.form.valid">Log In</button> </div>
            </form>
            <div class="text-center ta-darkcolor"> <small>Don't have an
                account? Please <a routerLink="/signup"
                   class="text-theme">Signup</a>
                <br>
                <a routerLink="/forgot-password"
                   class="text-theme">Forgot Password</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
         *ngIf="(!appUser)">
      <div class="col">
        <div class="col text-center ta-darkcolor">
          <h4 class="text-center text-theme">social media login</h4>
        </div>
        <div class="container ta-button-container">
          <div class="row">
            <div class="col"> <button (click)="loginWithGoogle()"
                      class="btn btn-google-plus btn-block"> Google</button>
            </div>
          </div>
          <div class="row">
            <div class="col"> <button (click)="loginWithTwitter()"
                      class="btn btn-twitter btn-block"> Twitter</button> </div>
          </div>
          <div class="row">
            <div class="col"> <button (click)="loginWithFacebook()"
                      class="btn btn-facebook  btn-block"> Facebook</button>
            </div>
          </div>
          <div class="row">
            <div class="col"> <button class="btn btn-primary btn-block"
                      (click)="open(help)"
                      type="button">
                <i class="fa fa-question-circle"
                   aria-hidden="true"></i> Help</button> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ta-row">
      <div class="col text-center ta-darkcolor"><strong><small>If you have a
            sign up or login problem contact tech support: support@16ahead.com</small>
        </strong> </div>
    </div>
    <div class="row ta-row">
      <div class="col text-center ta-darkcolor">
        <lib-sixteen-page [diagnostics]="diagnostic"></lib-sixteen-page>
      </div>
    </div>
  </div>
</div>
