<div class="container"
     *ngIf="user">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h2> <i class="fa fa-user-circle"
           aria-hidden="true"></i> Welcome {{ user.displayName }} </h2>
    </div>
  </div>
</div>
<lib-sixteen-login (theUser)="onUserUpdate($event)"></lib-sixteen-login>
