<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main">

      <section class="container-fluid page-block">
        <div class="container">
          <div class="row">

          <div class="col-md-9 page-content" innerHTML="{{ bodyText }}">
          </div>

          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>

    </main>
  </div> <!-- #primary -->
</div> <!-- #content -->
