<section id="features---1" class="container-fluid section-block features color-block">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Feature 1 -->
      <div class="col-md-4 feature feature-primary-color">
        <i class="{{featureIcon1}}"></i>
        <h3>{{featureHeading1}}</h3>
        <p>{{featureDescription1}}</p>
      </div>

      <!-- Feature 2 -->
      <div class="col-md-4 feature feature-primary-color">
        <i class="{{featureIcon2}}"></i>
        <h3>{{featureHeading2}}</h3>
        <p>{{featureDescription2}}</p>
      </div>

      <!-- Feature 3 -->
      <div class="col-md-4 feature feature-primary-color">
        <i class="{{featureIcon3}}"></i>
        <h3>{{featureHeading3}}</h3>
        <p>{{featureDescription3}}</p>
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
