<section id="integration---1" class="container-fluid section-block integration">
  <div class="container">
    <div class="row">

      <h2>{{headingText}}</h2>
      <div class="block-desc">
        <p>{{descriptionText}}</p>
      </div>

      <!-- Block 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6 integration-block">
        <div class="border-box">

          <div class="integration-img">
            <img src="{{integrationIcon1}}" title="{{integrationHeading1}}" alt="{{integrationHeading1}}">
          </div>

          <div class="integration-text">
            <h3>{{integrationHeading1}}</h3>
            <p>{{integrationDescription1}}</p>

            <div class="integration-link" *ngIf="buttonLink1">
              <a href="{{buttonLink1}}" title="{{integrationHeading1}}"><i [ngClass]="buttonIcon1"></i></a>
            </div>
          </div>

        </div>
      </div> <!-- .integration-block -->

      <!-- Block 2 -->
      <div class="col-lg-3 col-md-6 col-sm-6 integration-block">
        <div class="border-box">

          <div class="integration-img">
            <img src="{{integrationIcon2}}" title="{{integrationHeading2}}" alt="{{integrationHeading2}}">
          </div>

          <div class="integration-text">
            <h3>{{integrationHeading2}}</h3>
            <p>{{integrationDescription2}}</p>

            <div class="integration-link" *ngIf="buttonLink2">
              <a href="buttonLink2" title="{{integrationHeading2}}"><i [ngClass]="buttonIcon2"></i></a>
            </div>
          </div>

        </div>
      </div> <!-- .integration-block -->

      <!-- Block 3 -->
      <div class="col-lg-3 col-md-6 col-sm-6 integration-block">
        <div class="border-box">

          <div class="integration-img">
            <img src="{{integrationIcon3}}" title="{{integrationHeading3}}" alt="{{integrationHeading3}}">
          </div>

          <div class="integration-text">
            <h3>{{integrationHeading3}}</h3>
            <p>{{integrationDescription3}}</p>

            <div class="integration-link" *ngIf="buttonLink3">
              <a href="{{buttonLink3}}" title="{{integrationHeading3}}"><i [ngClass]="buttonIcon3"></i></a>
            </div>
          </div>

        </div>
      </div> <!-- .integration-block -->

      <!-- Block 4 -->
      <div class="col-lg-3 col-md-6 col-sm-6 integration-block">
        <div class="border-box">

          <div class="integration-img">
            <img src="{{integrationIcon4}}" title="{{integrationHeading4}}" alt="{{integrationHeading4}}">
          </div>

          <div class="integration-text">
            <h3>{{integrationHeading4}}</h3>
            <p>{{integrationDescription4}}</p>

            <div class="integration-link" *ngIf="buttonLink4">
              <a href="{{buttonLink4}}" title="{{integrationHeading4}}"><i [ngClass]="buttonIcon4"></i></a>
            </div>
          </div>

        </div>
      </div> <!-- .integration-block -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
